@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>Take this link and be happy:<a class="" </h4> 
<p>Use this area to provide additional information.</p>
